.botao {
    background: #767676;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    color: #252525;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: 0.8s;

}

.botao:hover {
    background: #68cdf2;
    transition: 0.2s;
}