.botao {
    background: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    color: #252525;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    color: #167be0;
}