.formulario-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 80px 50px;

}
.formulario-container .formulario {
    background: #141414;
    border-radius: 20px;
    border: 2px dotted;
    border-color: #525252;
    padding: 36px 64px;
    flex: 1;
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 24px;
    color: white;
}


.formulario-container .formulario input[type=color] {
  background-color: transparent;
	padding: 0;
  border-radius: 20px;
}

